
      <div class='container_login login'>
        <%= form_for @user, {url: '/authentications', method: 'post'} do |u|%>
      <p>
        <%=u.text_field :email, placeholder: 'Email' %><br />
        <%=u.password_field :password, placeholder: 'Password' %><br />
        <%= u.submit "Log In" %>
      </p>
      <% end %>
   </div>