

<tr>
      <td><%= current_user[:email] %></td><br>
      <td><%= current_user[:street] %></td>, 	
      <td><%= current_user[:state] %></td>
      <td><%= current_user[:zip] %></td><br><br>   
</tr>


